* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --color-black: #000;
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-secondary: rgb(52, 128, 227);
  --color-white: #fff;
  --color-overlay: rgba(0, 0, 0, .9);
  --font-link: 1.6rem;
  --gradient-bg: linear-gradient(to right, var(--color-primary), var(--color-primary-dark) );
  --padding-link: 2rem 1.75rem; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff; }

.heading-primary {
  font-size: 3.6rem;
  color: var(--color-secondary); }

.logo {
  margin-right: auto;
  display: flex; }
  .logo__img {
    height: 4.3rem;
    width: auto; }
  .logo__text {
    height: 4.3rem; }

.nav:hover .nav__list {
  width: 100%; }

.nav__menu {
  height: 4.3rem;
  width: 4.3rem;
  fill: var(--color-white); }

.nav__list {
  list-style: none;
  position: absolute;
  top: 55%;
  right: 0;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

.nav__item {
  text-align: center;
  position: relative;
  background-color: var(--color-overlay); }
  .nav__item:not(:last-child) {
    margin-bottom: 3px; }
  .nav__item::before {
    content: " ";
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(105deg, var(--color-primary) 70%, var(--color-overlay) 70%);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  font-size: var(--font-link);
  padding: var(--padding-link);
  position: relative;
  z-index: 10; }

.btn {
  background-color: transparent;
  color: var(--color-white);
  border: none;
  border-radius: 10rem;
  overflow: hidden;
  transition: .2s ease; }
  .btn--bg {
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5); }
    .btn--bg:hover {
      background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary)); }
  .btn:active {
    transform: translateY(-3px); }
  .btn__link {
    text-decoration: none;
    color: currentColor;
    font-size: var(--font-link);
    display: block; }
    .btn__link--padding {
      padding: var(--padding-link); }

.header {
  max-width: 120em;
  background-color: yellowgreen;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .header__btn-wrapper {
    flex: 0 0 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly; }
  .header__btn:first-child {
    flex: 0 0 auto; }
  .header__btn:last-child {
    flex: 0 0 40%; }

.main {
  max-width: 120em; }

.row {
  display: flex;
  flex-direction: column; }
