
@mixin sectionProperties {
  .left {
    width: 80%;
  }
  p {
    margin-bottom: 1.5em;
  }
  h3 {
    margin-bottom: .5em;
  }
  img {
    width: 20%;
    height: auto;
  }
}


@mixin gridGenerator($size, $gridColumns) {
  @for $var from 1 through $gridColumns {
    .col-#{$size}-#{$var} {
      width: 100% / ($gridColumns / $var);
    }
  }
}
