
nav {
    display: flex;
    flex-direction: column;

    i {
        align-self: flex-end;
        padding: 12.5px;
        position: absolute;
        right: 0;
        top: 0;
    }

    ul {
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 41px;
        transition: .5s ease;
        width: 0;
        z-index: 1;
    }

    &:hover ul {
        width: 100%;
    }
    li {
        list-style-type: none;
        line-height: 41px;
        height: 41px;

        a {
            background-color: rgba(229, 49, 103, .9);
            color: #000;
            display: block;
            text-align: center;
            text-decoration: none;
            border-top: 1px solid #fff;
        }
        a:hover {
            background-color: #fff;
            color: rgba(229, 49, 103, .9);
        }
    }
