/*
  Readme !important
  LinkUp stylesheet
  responsive mobile first design
*/

$secondary-color:  rgb(229, 49, 103);
$primary-color: rgb(52, 128, 227);
@import 'nav', 'shapes';
@import 'mixins';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}
#container {
  padding-top: .5em;
  width: 100%;
}

header {
  background-image: url("../asset/brokenLink@2x.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 2.5em;
  background-size: 1.75em;
  padding-left: 2.5em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 41px;
  height: 41px;
  width: 100%;
  h1{
    color: $primary-color;
  }
}
#logSign {
  flex-basis: 100%;
  button {
    border: none;
    display: block;
    width: 100%;
    border-radius: 2em;
    background-color: inherit;
    &:first-child {
      margin-bottom: .35em;
    }
  }

  a {
    align-self: flex-start;
    border: none;
    display: block;
    padding: 9px 20px;
    border-radius: 2em;
    text-decoration: none;
    font-size: 1.25em;
    &#login{
      color: #000;
      &:hover {
        color: rgb(229, 49, 103);
      }
    }
    &#signup {
      color: #fff;
      background-color: rgb(229, 49, 103);
      border: 1px solid #fff;
      &:hover{
        color: rgb(229, 49, 103);
        background-color: #fff;
        border: 1px solid rgb(229, 49, 103);
      }
    }

  }
}


  /*topSection element begins here
    General styles first
  */

section {
  margin: 110px auto 0;
  article {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4.165%;
    &:not(#bestArtisans){
      margin-bottom: 3em;
    }
  }
}

#topSection {
  .left {
  width: 80%;
  }
}
#skilledArtisan {
  .left {
  margin-bottom: 1.5em;
  }
  p:first-child {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  button {
    border: 0;
    border-radius: 1.75em;
    margin-top: 2em;
    width: 90%;
  }
  a {
    background-color: rgb(229, 49, 103);
    border-radius: 1.75em;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 25px;
    font-size: 1.25em;
    &:hover {
    color: rgb(229, 49, 103);
    background-color: #fff;
    border: 1px solid rgb(229, 49, 103);
    padding: 11px 24px;
    }
  }
  img{
    width: 50%;
    height: auto;
    max-width: 160px;
    max-height: 200px;
  }
}


  /* linkAction */
#linkAction {
  .left {
    background-image: linear-gradient(to right, lightgray, #fff);
    padding: 1.5em;
  }
  h2,
  p {
      margin-bottom: .5em;
  }
  p:last-child {
      margin-bottom: 1.5em;
  }
  img {
    width: 80%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
  }

}

  /* style for middleSection */

#middleSection {
  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  @include sectionProperties;

}

  /*
    bottomSection
  */
#bottomSection {
  background-color: rgb(40, 176, 242);
  color: #fff;
  margin-bottom: 0;
  padding: 80px 0 50px;
  @include sectionProperties;
}


/*
  footer begins here
*/
footer {
  background-color: lightgray;
  text-align: center;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
  footer p {
    -ms-align-self: center;
    align-self: center;
  }
}



/* media query begins here
@media only screen and (max-width: 400px) {
*/
  /*
    Extreme small mobile device
  */
  [class*= col-] {
    width: 100%;
  }
  /*
  header .logSign {
    width: 100%;
  }
  header .logSign button {
    display: block;
    width: 100%;
  }

*/



@media only screen and (min-width: 401px) {
  @include gridGenerator(xs, 12);
  /*
      shape oval
  */
  #oval {
    top: -85px;
    left: -130px;
  }
      /*
        header begins here
      */
  #logSign {
    display: flex;
    justify-content: flex-end;
    button {
      &:first-child {
        margin-bottom: 0;
        margin-right: .5em;
      }
    }
  }
  #topSection button {
    width: 60%;
  }
  /*
      shape Oval2
  */
  #oval2 {
    top: -70px;
    left: -90px;
  }
}

@media only screen and (min-width: 601px){
  /*
    device {mobile-large}
  */
  @include gridGenerator(sm, 12);
/*
    shape oval
*/
  .oval {
    top: -80px;
    left: -100px;
  }

  /*
    header begins here
  */
  header .logSign {
    flex-basis: 100%;

  }

  /*
    section begins here
  */
  /* All articles */
  article {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  #skilledArtisan {
    justify-content: space-around;
    .left {
    margin-bottom: 0;
    -ms-align-self: center;
    align-self: center;
    }
  }
  .left {
    width: 50%;
    padding: 1.5em;
  }
  #linkAction {
    justify-content: center;
    .left {
      -ms-align-self: flex-end;
      align-self: flex-end;
      margin-bottom: .5em;
    }
  }
  button {
    width: 90%;
    a {
      padding: 12px 20px;
      &:hover {
        padding: 11px 19px;
      }
    }
  }
  #skilledArtisan img {
      width: 40%;
      height: auto;
        max: {
          width: 200px;
          height: 300px;
        }
      -ms-align-self: center;
      align-self: center;
  }
  #linkAction img {
    width: 50%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    -ms-align-self: center;
    align-self: center;
  }


  /*
      shape Oval2
  */
  #oval2 {
    top: -70px;
    left: -70px;
  }


  /* middle and bottom section */

  #middleSection img, #bottomSection img {
  width: 15%;
  }
  #middleSection .left, #bottomSection .left {
    width: 50%;
  }
  /*
    position #getQuote quotediv to the right
  */
  #getQuote #quotediv {
    order: 1;
  }
}


@media only screen and (min-width: 769px) {
  /*
    tablet-small
  */
  @include gridGenerator(md, 12);

  #oval {
    top: -70px;
    left: -90px;
  }
  #headerNav {
    i {
    display: none;
    }
    ul {
      top:0;
      width: auto;
    }
    &:hover ul {
      width: auto;
    }
    li {
      display: inline-block;
      &:hover {
        line-height: 39px;
        height: 39px;
      }
      a {
        background-color: #ffffff;
        border: 0;
        padding: 0 5.5px;
      }
    }
  }
  .logSign {
    display: flex;
    button {
      width: 50%;
      border-radius: 2em;
    }
  }
  #topSection button {
    width: 80%;
  }
  .oval2 {
    top: -90px;
    left: -60px;
  }

  #middleSection img, #bottomSection img  {
    width: 10%;
  }
}


@media only screen  and (min-width: 993px) {
  /*
    tablet-large
  */
  @include gridGenerator(lg, 12);
  .oval {
    top: -60px;
    left: -70px;
  }
    #headerNav {
      i, i.fas {
      display: none;
    }
    .navBar {
      right: 23%;
    }
    .logSign {
      flex-basis: 100%;
    }
    button {
      flex-basis: 25%;
      &:first-child {
          flex-basis: 15%;
      }
    }
  }
  /*
    section begins here
  */
  #skilledArtisan img {
    width: 28%;
  }
  #skilledArtisan button {
    width: 55%;
  }
  /*
      shape
  */
  .oval2 {
    top: -90px;
    left: -60px;
  }
  #middleSection img, #bottomSection img {
    width: 8%;
  }

}

@media only screen  and (min-width: 1200px) {
/*
    Extra large device
*/
  header {
    nav {
      position: absolute;
      right: 24%;
    }
    .navBar {
      position: relative;
      margin-left: auto;
    }
    .logSign {
      flex-basis: 22%;
      button {
        flex-basis: 60%;
      }
    }
  }
}
