.header {
    background-color: yellowgreen;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: var(--gutter-vertical);

    &__btn-wrapper {
        flex: 0 0 100%;
        margin-top: 0.5rem;

        display: flex;
        justify-content: space-evenly;
    }

    &__btn{

        &:first-child {
            flex: 0 0 auto;
            //margin-right: 2rem;
        }

        &:last-child {
            flex: 0 0 40%;


        }
    }
}
