.header {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: var(--gutter-vertical);
    padding: 0 2%;
    max-width: $bp-largest;

    @include respond-above(lg-screen) {
        align-items: stretch;
    }
    .logo {
        margin-right: auto;
        @include respond-above(lg-screen) {
            //padding: 2rem 0;
        }
    }

    .nav {
        @include respond-above(lg-screen) {
            margin-right: var(--gutter-horizontal-md);
        }
        &__btn {
            @include respond-above(lg-screen) {
                display: none;
            }
        }

        &__list {
            background-color: var(--color-white);
            box-shadow: var(--shadow-box);
        
            @include respond-above(lg-screen) {
                background-color: transparent;
                flex-direction: row;
                width: auto;
                position: static;
                opacity: 1;
                box-shadow: none;
            }
        }
        &__item {

            @include respond-above(lg-screen) {
                margin: 0 2px 0 0;
            }
            &::before {
                @include respond-above(md-screen) {
                background-image: linear-gradient(105deg, var(--color-primary) 90%, var(--color-overlay) 90%);
                }
            }

        }

        &__link {
            @include respond-above(lg-screen) {
            padding: var(--padding-link-md);
            font-size: 1.8rem;
            }
        }
    }

    &__btn-wrapper {
        flex: 0 0 100%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        @include respond-above(sm-screen) {
            flex: 0 0 80%;
            margin-left: auto;
            margin-right: auto;
        }
        @include respond-above(xl-screen) {
            flex: 0 0 auto;
            margin: 0;
        }
    }

    &__btn {
        &:first-child {
            flex: 0 0 auto;
            //margin-right: 2rem;
            @include respond-above(lg-screen) {
                margin-right: var(--gutter-horizontal-sm);
            }
        }

        &:last-child {
            flex: 0 0 40%;
            @include respond-above(lg-screen) {
                flex: 0 0 80%;
            }
        }
    }
}
