.section {
    max-width: $bp-largest;
    .row {
        background-color: purple;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-above(medium-screen) {
            flex-direction: row;

        }

        &:not(:last-child) {
            margin-bottom: var(--gutter-vertical-lg);
        }

        &-img {
            display: block;

            //width: 100%;
            object-fit: contain;
            width: 100%;
            max-width: 500px;
        }
    }


    &-top {
        margin-bottom: var(--gutter-vertical-lg);

        .article__linkup {
            background-image: linear-gradient(to right, #c1c1c1, #fff);

            @include respond-above(medium-screen) {
                align-self: stretch;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            //margin-bottom: var(--gutter-vertical-sm);
        }
        .img-box {
            background-color: red;
            flex: 0 0 80%;
            max-width: 100%;
            margin: 0 auto;

            @include respond-above(medium-screen) {
                flex: 0 0 40%;
            }
            //max-height: 300px;
        }
    }

    &-bottom {
        .row:last-child {
            background-color: var(--color-secondary);
        }

        .article {

            &__get-quote {
                @include respond-above(medium-screen) {
                    order: 1;
                }
            }
        }
        .img-box {
            background-color: red;
            flex: 0 0 20%;
            max-width: 25%;
            margin: 0 auto;

            @include respond-above(small-screen) {
                flex: 0 0 14%;
                max-width: 17%;
            }


            //max-height: 300px;
        }
    }

}
