
//////////////////
// btn

.btn {
    background-color: transparent;
    border: none;
    border-radius: 10rem;
    overflow: hidden;
    transition: .2s ease;
    max-width: 200px;

    &--bg {
        color: var(--color-white);
        background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark) );
        box-shadow: var(--shadow-box);

        &:hover {
            background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
        }
    }

    &:active {
        transform: perspective(8rem) translate3D(0,-3px,3px);
    }

    &__link {
        text-decoration: none;
        color: currentColor;
        font-size: var(--font-link);
        display: block;

        &--padding {
            padding: var(--padding-link);

            @include respond-above(md-screen) {
            padding: var(--padding-link-md);
            font-size: var(--font-size-md);
            }
        }
    }
}
