
//////////////////
// btn

.btn {
    background-color: transparent;
    color: var(--color-white);
    border: none;
    border-radius: 10rem;
    overflow: hidden;
    transition: .2s ease;

    &--bg {
        background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark) );
        box-shadow: 0 .2rem .5rem rgba(0,0,0, .5);

        &:hover {
            background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
        }
    }

    &:active {
        transform: perspective(8rem) translate3D(0,-3px,3px);
    }

    &__link {
        text-decoration: none;
        color: currentColor;
        font-size: var(--font-link);
        display: block;

        &--padding {
            padding: var(--padding-link);

        }
    }
}
