////////////
///Logo
.logo {
    margin-right: auto;

    display: flex;

    &__img {
        height: 4.3rem;
        width: auto;
    }

    &__text {
        height: 4.3rem;
    }
}


//////////////////////////////
// ARTICLE
.article {
    margin: 0 auto;
    background-color: green;

    & > *:not(:last-child) {
        margin-bottom: var(--gutter-vertical-sm);
    }
    &__header {
        max-width: 70%;
    }

    &__paragraph {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    &__btn {
        width: 60%;
    }
}
