////////////
///Logo
.logo {
    display: flex;
    align-items: center;

    &__img {
        height: 4.3rem;
        width: auto;
        margin-right: var(--gutter-horizontal-xs);
    }

    &__text {
        height: 4.3rem;
    }
}


//////////////////////////////
// ARTICLE
.article {
    margin: 0 auto  var(--gutter-vertical-sm);

    @include respond-above(sm-screen) {
        max-width: 80%;
    }
    @include respond-above(md-screen) {
    margin: 0;
    }


    & > *:not(:last-child) {
        margin-bottom: var(--gutter-vertical-sm);
    }
    &__header {
        max-width: 70%;
    }

    &__paragraph {
        font-size: 1.6rem;
        line-height: 1.6;

        @include respond-above(md-screen) {
        font-size: 1.8rem;
        }
    }
    &__btn {
        max-width: 60%;
        @include respond-above(md-screen) {
        max-width: 70%;
        }
    }
}

///////////////////
//SHAPE
//Will add shapes later
/*
.shape {

    &__oval {

        width: 34rem;
        height: 14rem;
        border-radius: 50%;
        background-color: var(--color-secondary);
        transform: rotateZ(70deg);
        position: absolute;
        top: -33%;
        left: -24.5rem;
        z-index: 1;

        @include respond-above(sm-screen) {
            left: -24rem;
        }
        @include respond-above(md-screen) {
            left: -23.5rem;
        }
        @include respond-above(lg-screen) {
            top: -18%;
        }
        @include respond-above(xlg-screen) {
        //@media only screen and (max-width: 1250px)
            left: -18rem;
        }
        @include respond-above(xxl-screen) {
        //@media only screen and (max-width: 1250px)
            left: -22.5rem;
        }
    }
}
*/
