////////////
///Logo
.logo {
    display: flex;

    &__img {
        height: 4.3rem;
        width: auto;
        margin-right: var(--gutter-horizontal-xs);
    }

    &__text {
        height: 4.3rem;
    }
}


//////////////////////////////
// ARTICLE
.article {
    margin: 0 auto  var(--gutter-vertical-sm);
    background-color: green;

    @include respond-above(medium-screen) {
    margin: 0;
    }
    @include respond-above(small-screen) {
        max-width: 80%;
    }

    & > *:not(:last-child) {
        margin-bottom: var(--gutter-vertical-sm);
    }
    &__header {
        max-width: 70%;
    }

    &__paragraph {
        font-size: 1.6rem;
        line-height: 1.6;

        @include respond-above(medium-screen) {
        font-size: 1.8rem;
        }
    }
    &__btn {
        width: 60%;
    }
}
