
// Breakpoints
$bp-largest: 120em;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    ///////////////////
    //border
    --border-bottom: 1px solid var(--color-primary);

    //@Color
    --color-black: #000;
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-secondary: rgb(52, 128, 227);
    --color-tertiary: #c1c1c1;
    --color-white: #fff;
    --color-overlay: rgba(0, 0, 0, .9);

    //Heading


    //font-size
    --font-link: 1.6rem;
    --font-size-md: 1.8rem;

    //Gutter
    --gutter-vertical: 3rem;
    --gutter-vertical-lg: 6rem;
    --gutter-vertical-sm: 2rem;

    --gutter-horizontal-xs: .2rem;
    --gutter-horizontal-sm: 2rem;
    --gutter-horizontal-md: 5rem;

    // Gradient
    --gradient-bg: linear-gradient(to right, var(--color-primary), var(--color-primary-dark) );

    //padding
    --padding-link: 1.35rem 1.75rem;
    --padding-link-md: 2rem 1.75rem;

    ////Box-Shadow
    --shadow-box:  0 .2rem .5rem rgba(0,0,0, .5);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    padding-top: 2rem;
    //font-weight: 400;
    //line-height: 1.6;
}
